$default-font : "Open Sans", sans-serif;
$color-fondoLogin : #3585d4;
$menu-bg : #fff;

$menu-active-bg : #fafafa;
$menu-active: #03a9f3;
$menu-color: #607d8b;

$white: #fff;

$container-bg: #f1f2f7;

$header-bg: #fff;
$header-icon: #99abb4;
$search-bg: #131c21;
$active-green:#49a342;
$gray-600: #868e96;
$text-color-1: #99abb4;
$text-color-2: #455a64;
$text-color-3: #868e96;

$flat-color-1: #00c292;
$flat-color-4: #fb9678;
$flat-color-3: #03a9f3;


