.bg-flat-color-1 {
  background: #00c292;
}

.bg-flat-color-2 {
  background: #ab8ce4;
}

.bg-flat-color-3 {
  background: #03a9f3;
}

.bg-flat-color-4 {
  background: #fb9678;
}

.flat-color-1 {
  color: #00c292;
}

.flat-color-2 {
  color: #ab8ce4;
}

.flat-color-3 {
  color: #03a9f3;
}

.flat-color-4 {
  color: #fb9678;
}
