body {
  display: table;
  font-family: $default-font;
  font-size: 16px;
  width: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-family: $default-font;
  font-weight: 400;
  line-height: 24px;
  color: #878787;
}
p:focus {
  border: none;
  outline: 0;
}
a, button {
  text-decoration: none;
  outline: none!important;
  color: #878787;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h5 {
  font-size: 1em;
}
ul,
ol {
  padding-left: 0;
}

img {
  max-width: 100%;
}

button,
input,
textarea {
    box-shadow: none;
    outline: 0 !important;
}

canvas {
  max-width: 100%;
}

