.bg-body-login{
  background-color: $color-fondoLogin;
}

.login-content {
    max-width: 380px;
    margin: 8vh auto;
}

.login-logo {
  text-align: center;
  margin-bottom: 15px;
  span{
      color: #ffffff;
      font-size: 24px;
  }
}

.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px;
}
.login-form h4 {
  color: #878787;
  text-align: center;
  margin-bottom: 50px;
}
.login-form .checkbox {
  color: #878787;
}
.login-form .checkbox label {
  text-transform: none;
}
.login-form .btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
  border: 0px;
}
.login-form label {
  color: #878787;
  text-transform: uppercase;
}
.login-form label a {
  color: #ff2e44;
}
